@model ProductUpdateInput
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Update Product</h5>
                <form asp-controller="Product" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="Id"/>
                    <input type="hidden" asp-for="Picture"/>
                    <div class="mb-3">
                        <label class="form-label" asp-for="CategoryId"></label>
                        <select class="form-control" asp-items="@ViewBag.categoryList" asp-for="CategoryId">
                            <option value="">Select a category</option>
                        </select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Name"></label>
                        <input type="text" class="form-control" asp-for="Name" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Price"></label>
                        <input type="text" class="form-control" asp-for="Price" />
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Description"></label>
                        <textarea type="text" class="form-control" asp-for="Description"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Feature.Duration"></label>
                        <input type="text" class="form-control" asp-for="Feature.Duration" />
                        <span class="text-danger" asp-validation-for="Feature.Duration"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="PhotoFormFile"></label>
                        <input type="file" class="form-control" asp-for="PhotoFormFile" />
                        <span class="text-danger" asp-validation-for="PhotoFormFile"></span>
                    </div>
                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>