@model ProductUpdateInput
@{
    ViewData["Title"] = "Update Product";
}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="breadcrumb_iner breadcrumb-height">
                    <div class="breadcrumb_iner_item">
                        <h2>Update Product</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row mt-4">
    <div class="col-md-12">
        <form asp-controller="Product" asp-action="Update" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Picture" />
            <div class="row mb-3">
                <div class="col-md-12">
                    <select asp-items="@ViewBag.categoryList" asp-for="CategoryId">
                        <option value="">Category</option>
                    </select>
                    <span class="text-danger" asp-validation-for="CategoryId"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <input type="text" class="form-control"  placeholder="Name" asp-for="Name" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="col-md-6 input-group-icon">
                    <input type="text" class="form-control price-text" placeholder="Price" asp-for="Price" />
                    <div class="icon">₺</div>
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <textarea type="text" class="form-control" rows="5" placeholder="Description" asp-for="Description"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label for="files" class="btn file-label">Picture</label>
                    <input id="files" style="display:none;" type="file" asp-for="PhotoFormFile">
                    <span class="text-danger" asp-validation-for="PhotoFormFile"></span>
                </div>
            </div>
            <button class="btn_3 float-end" type="submit">Update</button>
        </form>
    </div>
</div>

<script>
    document.querySelector("#files").onchange = function () {
        const fileName = this.files[0]?.name;
        const label = document.querySelector("label[for=files]");
        label.innerText = fileName ?? "Picture";
    };
</script>

<style>
    .nice-select {
        width: 100%;
        font-size: 1rem;
        padding: .375rem .75rem;
        line-height: 1.9;
    }

    .list {
        width: 100%;
    }

    .icon {
        top: -1px!important;
        font-size: 1rem;
    }

    .price-text {
        padding-left: 25px;
    }

    .file-label {
        border: 1px solid #e5e5e5;
        border-radius: 0.375rem;
        font-family: 'Helvetica', sans-serif;
        transition: .5s;
        width: 100%;
        font-size: 1rem;
        padding: .375rem .75rem;
    }

    .file-label:hover {
        background-color: #eee;
    }
</style>    