@model List<OrderViewModel>
@{
    ViewData["Title"] = "Purchase History";
}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner breadcrumb-height">
                    <div class="breadcrumb_iner_item">
                        <h2>Purchase History</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="confirmation_part padding_top pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @if (Model.Any())
                {
                    <div class="order_details_iner">
                        <table class="table table-borderless table-bg">
                            <thead>
                                <tr>
                                    <th>Order No</th>
                                    <th>Date</th>
                                    <th>Detail</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model)
                                {
                                    <tr>
                                        <td>@order.Id</td>
                                        <td>@order.CreatedDate.ToShortDateString()</td>
                                        <td>
                                            <table class="table table-borderless">
                                                <thead>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in order.OrderItems)
                                                    {
                                                        <tr>
                                                            <td width="65%">@item.ProductName</td>
                                                            <td>@item.Price ₺</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="cart-empty">
                        <p class="mb-3">You didn't buy any product.</p>
                        <a class="btn_1" asp-controller="Home" asp-action="Index">Keep Shopping</a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<style>
    .table-bg th, .table-bg td {
        background-color: #ecfdff;
    }

    .cart-empty {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0 2px #d1d7dc;
        padding: 80px;
        margin-top: 30px;
    }
</style>