@model SignupInput
@{
    ViewData["Title"] = "Sign Up";
}

<section class="login_part" style="padding-top:50px">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 offset-3">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>
                            Sign up and 
                            <br /> 
                            discover great deals
                        </h3>
                        <form class="row contact_form" asp-controller="Auth" asp-action="Signup" method="post">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" asp-for="Surname" placeholder="Surname">
                                <span class="text-danger" asp-validation-for="Surname"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="btn_3">
                                    Sign Up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>